{% from 'beetroot/icons.html' import icon_big %}
<div class="dialog-error-block" role="alert">{{- '' -}}
  <p>{{- '' -}}
    <strong>
      {%- if pageno == 1 -%}
        {{ _('Sorry!') }}
      {%- endif -%}
    </strong>{{- '' -}}
  </p>{{- '' -}}
  <p>
    {%- if pageno == 1 -%}
      {{ _("No results were found. You can try to:") }}
    {%- else -%}
      {{ _("There are no more results. You can try to:") }}
    {%- endif -%}
  </p>{{- '' -}}
  <ul>
    {%- if pageno == 1 -%}
      <li>{{ _("Refresh the page.") }}</li>{{- '' -}}
      <li>{{ _("Search for another query or select another category (above).") }}</li>{{- '' -}}
      <li>{{ _("Change the search engine used in the preferences:") }} <a href="/preferences">/preferences</a></li>{{- '' -}}
      <li>{{ _("Switch to another instance:") }} <a href="https://searx.space">https://searx.space</a></li>{{- '' -}}
    {%- else -%}
      <li>{{ _("Search for another query or select another category.") }}</li>{{- '' -}}
      <li>{{ _("Go back to the previous page using the previous page button.") }}</li>{{- '' -}}
    {%- endif -%}
  </ul>
</div>
