/*
 * Disroot flavor
 */

:root {
  --disroot-white: #ddd;
  --color-btn-font: #ddd;

  /* background colors */
  --disroot-lightmode: #ddd;
  --disroot-darkmode: hsl(225, 16%, 15%); //#1f222b;
  --disroot-darkmode-light: hsl(225, 15%, 20%); //#2b2f3b //#2a2e3a;
  --disroot-darkmode-lighter: hsl(227, 14%, 25%); //#383c4a;

  /* primary color light theme */
  //--primary-l-h: 336;
  //--primary-l-s: 57%;
  //--primary-l-l: 20%;
  //--disroot-red: hsl(var(--primary-l-h), var(--primary-l-s), var(--primary-l-l));
  //--disroot-red-light: hsl(var(--primary-l-h), calc(var(--primary-l-s) - 14%), calc(var(--primary-l-l) + 7%));
  //--disroot-red-lighter: hsl(var(--primary-l-h), calc(var(--primary-l-s) - 23%), calc(var(--primary-l-l) + 13%));
  //--disroot-red-even-lighter: hsl(var(--primary-l-h), calc(var(--primary-l-s) - 29%), calc(var(--primary-l-l) + 43%));
  --disroot-red: hsl(336, 57%, 20%); //#50162d;
  --disroot-red-light: hsl(336, 43%, 27%); //#61273e;
  --disroot-red-lighter: hsl(336, 34%, 33%); //#72384f;
  --disroot-red-even-lighter: hsl(336, 28%, 64%); //#bd899e;

  /* primary color dark theme */
  --disroot-green: hsl(77, 66%, 43%); //#8eb726;
  --disroot-green-lighter: hsl(77, 54%, 59%); //#afcf60;
  --disroot-green-even-lighter: hsl(77, 45%, 73%); //#c8d99b;
  --disroot-green-darker: hsl(77, 66%, 34%); //#71911e;

  /* secondary color */
  --disroot-blueish: hsl(184, 51%, 25%); //#1f5c60;
  --disroot-blueish-lighter: hsl(184, 30%, 44%); //#4f8f93;
  --color-url-font: var(--disroot-green);
  --color-url-visited-font: var(--disroot-blueish);
  --color-header-background: var(--disroot-red-light);
  --color-btn-background: var(--disroot-red-light);
  --color-categories-item-selected-font: var(--disroot-red-even-lighter);
  --color-categories-item-border-selected: var(--disroot-red-even-lighter);
  --color-result-vim-arrow: var(--disroot-red-light);
  --color-result-link-font: var(--disroot-red-light);
  --color-result-link-font-highlight: var(--disroot-red-even-lighter);
  --color-result-link-visited-font: var(--disroot-green);
  --color-toolkit-checkbox-onoff-on-mark-background: var(--disroot-red-light);
  --color-toolkit-checkbox-input-border: var(--disroot-red-light);
  --color-search-background-hover: var(--disroot-red-light);
}
.dark-themes() {
  --color-base-background: var(--disroot-darkmode-light);
  --color-base-background-mobile: var(--disroot-darkmode-light);
  --color-base-font: var(--disroot-white);
  --color-search-background: none; //var(--disroot-white);
  --color-search-shadow: var(--disroot-white);
  --color-url-font: var(--disroot-red-even-lighter);
  --color-url-visited-font: var(--disroot-blueish);
  --color-header-background: var(--disroot-darkmode-light);
  --color-footer-background: var(--disroot-darkmode-light);
  --color-btn-background: var(--disroot-red-light);
  --color-btn-font: var(--color-base-font);
  --color-categories-item-selected-font: var(--disroot-white);
  --color-categories-item-border-selected: var(--disroot-red-even-lighter);
  --color-result-vim-arrow: var(--disroot-red-light);
  --color-result-vim-selected: var(--disroot-lighter);
  --color-result-link-font: var(--disroot-green);
  --color-result-link-font-highlight: var(--disroot-blueish);
  --color-result-link-visited-font: var(--disroot-blueish-lighter);
  --color-result-background: var(--disroot-darkmode);
  --color-toolkit-checkbox-input-border: var(--disroot-red-lighter);
  --color-search-background-hover: var(--disroot-red-lighter);
}
@results-margin: 0.325rem;

// Category color
//.category label {
//  color: var(--color-btn-font);
//}

button.category_button {
  color: var(--color-btn-font);
}

// Navbar links in right corner only on results page
// (needed when using disroot color as navbar background)
.results_endpoint #links_on_top a,
.results_endpoint #links_on_top a:active *,
.results_endpoint #links_on_top a:hover *,
.results_endpoint #links_on_top a:link *,
.results_endpoint #links_on_top a:visited * {
  color: #fff !important;
}

.result {
  background-color: var(--color-result-background);
  border-radius: 2px;
  margin-top: 1em;
}

// Navbar magnifying glass color
#search_logo svg g circle,
#search_logo svg g path {
  stroke: var(--disroot-red-even-lighter);
}

#search_logo svg g rect {
  fill: var(--disroot-red-even-lighter);
}

// #categories_container {
// background-color: var(--disroot-red);
// }

//Search box
.search_box {
  background-color: var(--disroot-darkmode);
  border: 0.5px groove var(--disroot-white);
}

//Cache link
//.cache_link:visited {
//  color: var(--disroot-red);
//}

//Logo
.index {
  .title {
    min-height: 8rem;
  }
}

//top margin front page
#main_index {
  margin-top: 13vh;
}

// Have a slightly more bright disroot red color on logo png
// when in dark mode
// .theme-dark .index .title {
//   filter: brightness(1.25);
// }

// .theme-dark img.logo {
//   filter: brightness(1.25);
//}

// Have a slightly more bright disroot red color on logo
#search_logo {
  filter: brightness(1.25);
}

// Dashboard
.dashboard {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.image-dash {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.dashlink-text {
  //position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: var(--color-base-font);
}

.image-dash img {
  max-width: 100%;
  height: auto;

  &:hover {
    filter: grayscale(1);
  }
}
