{% extends "beetroot/base.html" %}
{% from 'beetroot/icons.html' import icon_big %}
{% block content %}
<div class="index">
    <div class="title"><h1>SearXNG</h1></div>
    {% include 'beetroot/simple_search.html' %}
</div>
<div class="dashboard">
  <h1 class="title">More disroot apps:</h1>
<div class="dashboard-grid">
  <div class="image-dash">
    <a class="dashlink" href="https://webmail.disroot.org">
      <img src="/static/themes/beetroot/img/dashboard/email_circle.png">
      <div class="dashlink-text"><p>Webmail</p></div>
    </a>
  </div>
  <div class="image-dash">
    <a class="dashlink" href="https://cloud.disroot.org">
      <img src="/static/themes/beetroot/img/dashboard/cloud_circle.png">
      <div class="dashlink-text"><p>Cloud</p></div>
    </a>
  </div>
  <div class="image-dash">
    <a class="dashlink" href="https://webchat.disroot.org">
      <img src="/static/themes/beetroot/img/dashboard/chat_circle.png">
      <div class="dashlink-text"><p>Webchat</p></div>
    </a>
  </div>
  <div class="image-dash">
    <a class="dashlink" href="https://cryptpad.disroot.org">
      <img src="/static/themes/beetroot/img/dashboard/cryptpad_circle.png">
      <div class="dashlink-text"><p>Cryptpad</p></div>
    </a>
  </div>
  <div class="image-dash">
    <a class="dashlink" href="https://fe.disroot.org">
      <img src="/static/themes/beetroot/img/dashboard/fe_circle.png">
      <div class="dashlink-text"><p>Akkoma</p></div>
    </a>
  </div>
  <div class="image-dash">
    <a class="dashlink" href="https://git.disroot.org">
      <img src="/static/themes/beetroot/img/dashboard/gitea_circle.png">
      <div class="dashlink-text"><p>Git</p></div>
    </a>
  </div>
  <div class="image-dash">
    <a class="dashlink" href="https://upload.disroot.org">
      <img src="/static/themes/beetroot/img/dashboard/upload_circle.png">
      <div class="dashlink-text"><p>File share</p></div>
    </a>
  </div>
  <div class="image-dash">
    <a class="dashlink" href="https://pad.disroot.org">
      <img src="/static/themes/beetroot/img/dashboard/pads_circle.png">
      <div class="dashlink-text"><p>Etherpads</p></div>
    </a>
  </div>
  <div class="image-dash">
    <a class="dashlink" href="https://bin.disroot.org">
      <img src="/static/themes/beetroot/img/dashboard/bin_circle.png">
      <div class="dashlink-text"><p>Paste Bin</p></div>
    </a>
  </div>
  <div class="image-dash">
    <a class="dashlink" href="https://calls.disroot.org">
      <img src="/static/themes/beetroot/img/dashboard/jitsi_circle.png">
      <div class="dashlink-text"><p>Video Conference</p></div>
    </a>
  </div>
  <div class="image-dash">
    <a class="dashlink" href="https://mumble.disroot.org">
      <img src="/static/themes/beetroot/img/dashboard/mumble_circle.png">
      <div class="dashlink-text"><p>Audio Conference</p></div>
    </a>
  </div>
  <div class="image-dash">
    <a class="dashlink" href="https://translate.disroot.org">
      <img src="/static/themes/beetroot/img/dashboard/translate_circle.png">
      <div class="dashlink-text"><p>Translate</p></div>
    </a>
  </div>
  <div class="image-dash">
    <a class="dashlink" href="https://scribe.disroot.org">
      <img src="/static/themes/beetroot/img/dashboard/scribe_circle.png">
      <div class="dashlink-text"><p>D•Scribe</p></div>
    </a>
  </div>
</div>
{% endblock %}
