{% extends 'beetroot/page_with_header.html' %}
{% block title %}{{ active_page.title }} - {% endblock %}
{% block linkto_about %}{% endblock %}
{% block linkto_donate %}{% endblock %}
{% block content %}
<ul class="tabs">
{% for pagename, locale, page in all_pages %}
  <li>
    <a href="{{ url_for('info', pagename=pagename, locale=locale) }}" {% if pagename == active_pagename %}class="active"{% endif %}>{{page.title}}</a>
  </li>
{% endfor %}
</ul>
<div class="info-page {{pagename}}">
  {{- active_page.html | safe -}}
</div>
{% endblock %}
